Repository ADCSStudy/CS_Note, pull requests merged in 2022-10, with the labels that each got.

#39 #38 애자일
  Computer Science/Software Engineering/애자일.md
Labels: Computer Science, Software Engineering

#40 #37 대칭키 & 공개키
  Computer Science/Network/대칭키 & 공개키.md
Labels: Computer Science, Network

#41 #36 SQL과 NOSQL의 차이
  Computer Science/Database/SQL과 NOSQL의 차이.md
Labels: Database, Computer Science

#46 #43 인덱스
  Computer Science/Database/index.md
Labels: Database, Computer Science

#48 #45 함수형 프로그래밍
  Computer Science/Software Engineering/함수형프로그래밍.md
Labels: Computer Science, Software Engineering

#52 #49 고정 소수점 & 부동 소수점
  Computer Science/Computer Architecture/고정 소수점 & 부동 소수점.md
Labels: Computer Architecture, Computer Science

#53 #50 스택&큐
  Computer Science/OS/스택&큐.md
Labels: Operating System, Computer Science

#54 #50 스택&큐 위치 수정
  Computer Science/Data Structure/스택&큐.md
Labels: Computer Architecture, Data Structrue

#55 #51 인터럽트
  Computer Science/OS/인터럽트.md
Labels: Computer Architecture, Operating System

#56 #50 스택&큐 코드 수정
  Computer Science/Data Structure/스택&큐.md
Labels: Data Structrue, Computer Science, Bugfix

#60 #57 ARM processor
  Computer Science/Computer Architecture/ARM프로세서.md
  Computer Science/Database/index.md
Labels: Computer Architecture, Computer Science

#65 #61 정규화
  Computer Science/Database/정규화.md
Labels: Database, Computer Science

#66 #59 PCB, Context Switching
  Computer Science/OS/PCB와ContextSwitching.md
Labels: Operating System, Computer Science

#68 #62 TLS/SSL HandShake
  Computer Science/Network/TLS, SSL HandShake.md
Labels: Computer Science, Network
