Repository ADCSStudy/CS_Note, pull requests merged in 2022-09, with the labels that each got.

#4 #1 Key
  Computer Science/Database/Key.md
Labels: Database, Computer Science

#5 #2 OSI7계층
  Computer Science/Network/OSI7계층.md
Labels: Computer Science, Network

#6 #3 클린코드와 리팩토링
  Computer Science/Software Engineering/클린코드와 리팩토링.md
Labels: Computer Science, Software Engineering

#11 #9 배열(Array)
  Computer Science/Data Structure/배열(Array).md
Labels: Data Structrue, Computer Science

#12 #10 운영체제란
  Computer Science/OS/운영체제란.md
Labels: Operating System, Computer Science

#19 #16 조인(Join)
  Computer Science/Database/Join.md
Labels: Database, Computer Science

#20 #17 TCP 3 way handshake & 4 way handshake
  Computer Science/Network/TCP 3 way handshake & 4 way handshake.md
Labels: Computer Science, Network

#21 #18 클린코드와 시큐어코딩
  Computer Science/Software Engineering/클린코드와 시큐어코딩.md
Labels: Computer Science, Software Engineering

#22 #13 중앙처리장치(CPU) 작동 원리
  Computer Science/Computer Architecture/중앙처리장치(CPU) 작동 원리.md
Labels: Computer Architecture, Computer Science

#23 #14 연결 리스트
  Computer Science/Data Structure/연결 리스트.md
Labels: Data Structrue, Computer Science

#24 #15 프로세스 & 스레드
  Computer Science/OS/프로세스 & 스레드 .md
Labels: Operating System, Computer Science
