Repository ADCSStudy/CS_Note, pull requests merged in 2022-11, with the labels that each got.

#75 #72 해시
  Computer Science/Data Structure/해시.md
Labels: Data Structrue, Computer Science

#76 #73 IPC
  Computer Science/OS/IPC.md
Labels: Operating System, Computer Science

#77 #74 DB 트랜잭션
  Computer Science/Database/DB 트랜잭션.md
Labels: Database, Computer Science

#79 #78 MSA
  Computer Science/Software Engineering/MSA.md
Labels: Computer Architecture, Software Engineering

#81 #80 btree와b+tree
  Computer Science/Data Structure/btree와b+tree.md
Labels: Data Structrue, Computer Science

#83 데드락
  Computer Science/OS/데드락.md
Labels: Operating System, Computer Science
